In [1]:
#21

In [32]:
import csv
import pandas as pd
import numpy as np

In [17]:
SoftdrinkData="kakei_softdrink.csv"
Data=pd.read_csv(SoftdrinkData,encoding='cp932')
#print(Data)
Data.head()

,pref,ntt,nikkei,och2022,tea2022,cof2022,coc2022,fru2022,sod2022,yak2022,lac2022,wat2022,spo2022,och2021,tea2021,cof2021,coc2021,fru2021,sod2021,yak2021,lac2021,wat2021,spo2021,och2020,tea2020,cof2020,coc2020,fru2020,sod2020,yak2020,lac2020,wat2020,spo2020,och2019,tea2019,cof2019,coc2019,fru2019,sod2019,yak2019,lac2019,wat2019,spo2019,och2018,tea2018,cof2018,coc2018,fru2018,sod2018,yak2018,lac2018,wat2018,spo2018,och2017,tea2017,cof2017,coc2017,fru2017,sod2017,yak2017,lac2017,wat2017,spo2017,och2016,tea2016,cof2016,coc2016,fru2016,sod2016,yak2016,lac2016,wat2016,spo2016,och2015,tea2015,cof2015,coc2015,fru2015,sod2015,yak2015,lac2015,wat2015,spo2015,och2014,tea2014,cof2014,coc2014,fru2014,sod2014,yak2014,lac2014,wat2014,spo2014,och2013,tea2013,cof2013,coc2013,fru2013,sod2013,yak2013,lac2013,wat2013,spo2013
0,北海道,E,O,3678,684,6112,357,7069,9048,4407,2455,3861,1407,2867,963,4843,422,7669,7764,2591,1980,2422,1292,2872,955,4610,301,8504,8072,2291,2445,2399,1461,3765,1095,4465,376,7748,9084,3052,1457,3569,1402,2873,506,4086,340,6655,5973,2634,2013,3495,1424,2378,595,5096,566,7404,6318,2901,1677,2544,1131,2589,678,4796,426,8809,6638,3049,2204,3775,1653,2862,638,4872,331,7776,7214,3276,1573,2378,1646,2781,788,5244,375,7771,6057,2365,1460,2464,0,2951,853,5023,369,7383,5476,2307,1308,2246,0
1,青森県,E,O,2117,368,6245,499,10291,9412,7545,3137,2390,1931,1724,532,5135,321,10091,8732,5487,2442,1811,1491,2244,494,6002,516,10097,9530,3555,2822,3098,1809,2283,390,4890,317,8946,7607,2728,1753,1608,1305,2087,279,6221,230,10379,6995,3925,1554,1409,1334,2340,475,5794,556,12336,8236,4423,2870,1560,1948,2432,309,6915,346,11617,8862,3596,1940,1079,2018,1658,343,5757,430,9642,7295,3039,1660,1092,1966,2670,383,6615,356,11648,8188,3247,1301,1219,0,3252,697,3930,450,11526,6114,2872,1373,840,0
2,岩手県,E,O,3652,537,4703,429,8215,9336,4419,2949,3187,1759,3528,543,4385,394,8849,9312,2871,2295,2961,1386,3405,651,4738,335,9072,7919,3499,2122,2475,1906,3284,740,4726,738,9538,6472,3382,2243,3232,1752,3311,487,3812,362,10556,5759,3020,2690,3238,1874,4098,458,3750,443,7976,6738,3313,2082,1886,1368,3024,658,5129,381,9736,6185,2787,1313,2581,2362,4650,483,3250,445,9364,4832,3344,1642,1682,1180,3854,745,3589,424,8757,6196,3459,1370,1685,0,3174,576,3615,351,8359,3952,2511,1424,2178,0
3,宮城県,E,O,3272,640,5132,394,7228,9268,4456,2643,4679,1775,4490,1897,5771,335,7045,8795,5471,1784,3544,1589,4335,1180,4328,432,8064,6894,4616,1892,2880,1203,4510,1151,4209,378,8269,5474,3693,2026,2843,1639,5328,926,3728,450,7873,6815,4590,2002,3253,1428,4068,829,4609,480,8902,4781,3005,1956,3357,1789,5046,721,4343,443,9597,5840,3577,1390,3479,1595,4092,715,3504,351,8882,5478,3675,1506,3839,1913,4587,627,4325,288,8243,4621,4234,1749,3260,0,5131,1171,3432,326,10019,5446,4534,1223,2768,0
4,秋田県,E,O,2472,536,4348,234,9393,6641,5160,1670,2184,1624,3953,566,3159,324,8683,6313,4416,1692,3993,1417,3827,889,3425,310,7954,4938,4687,1440,2626,1123,3618,533,3540,255,7894,5262,2470,1449,2117,1430,3340,514,3877,399,8066,6652,3469,2040,2557,1307,4260,508,3877,455,7874,7713,3394,1992,2189,1429,3510,387,4084,415,8478,5798,3320,1668,2276,1627,3831,369,3048,362,6880,5154,2806,1041,2367,1475,3345,480,3884,394,7019,4769,2230,1117,2444,0,3462,568,4445,301,7808,4625,2888,1380,1817,0

In [71]:
column_list=Data.columns.tolist()
columns_list=column_list[3:]
column_list123=column_list[:3]
data2021=columns_list[9:20]
data2021[0]="pref"
print(data2021)

['pref', 'och2021', 'tea2021', 'cof2021', 'coc2021', 'fru2021', 'sod2021', 'yak2021', 'lac2021', 'wat2021', 'spo2021']

In [101]:
#Data[data2021]

In [102]:
sort_tea = Data.sort_values(by='tea2021').loc[:, ['pref', 'tea2021']].head()

sort_och = Data.sort_values(by='och2021', ascending=False).loc[:, ['pref', 'och2021']].head()

sort_tea, sort_och

(   pref  tea2021
 17  福井県      433
 40  佐賀県      442
 44  宮崎県      454
 15  富山県      471
 42  熊本県      481,
     pref  och2021
 21   静岡県     7863
 45  鹿児島県     5786
 41   長崎県     5484
 11   千葉県     5173
 9    群馬県     5058)

In [118]:
Data_sorted_both = Data.sort_values(by=['yak2021', 'lac2021'])

Data_sorted_both['difference_sorted_both'] = Data_sorted_both['yak2021'] - Data_sorted_both['lac2021']

Data_selected_columns = Data_sorted_both[['yak2021', 'lac2021', 'difference_sorted_both']]
Data_selected_columns.head(3)

    yak2021  lac2021  difference_sorted_both
43     2083     1786                     297
0      2591     1980                     611
34     2623     2690                     -67

In [119]:
Data_sorted_both = Data.sort_values(by=['wat2021', 'spo2021'])

Data_sorted_both['difference_sorted_both'] = Data_sorted_both['wat2021'] - Data_sorted_both['spo2021']

Data_selected_columns = Data_sorted_both[['wat2021', 'spo2021', 'difference_sorted_both']]
Data_selected_columns.head(3)

    wat2021  spo2021  difference_sorted_both
30     1534     1166                     368
1      1811     1491                     320
5      2240     1992                     248

In [120]:
Data_sorted_both = Data.sort_values(by=['fru2021', 'sod2021'])

Data_sorted_both['difference_sorted_both'] = Data_sorted_both['fru2021'] - Data_sorted_both['sod2021']

Data_selected_columns = Data_sorted_both[['fru2021', 'sod2021', 'difference_sorted_both']]
Data_selected_columns.head(3)

    fru2021  sod2021  difference_sorted_both
19     5772     6224                    -452
8      5896     7206                   -1310
17     6004     6043                     -39