In [1]:
import pandas as pd

pd.DataFrame({
    'name':['sato','saito','suzuki'],
    'old':[21,30,18],
    'from':['tokyo','gif','saitama'],
    'red':['A','AB','O']
},index=['1','2','3'])

     name  old     from red
1    sato   21    tokyo   A
2   saito   30      gif  AB
3  suzuki   18  saitama   O